@model timeTracker.Domain.TimeSheet

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekStarting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekStarting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSheetEntries)
        </dt>

        <dd>
            @foreach (var timesheetentry in Model.TimeSheetEntries)
            {

                @Html.ActionLink(timesheetentry.Day, "details", "TimeSheetEntry", new { timesheetentry.Id }, null)
                <br />
            }

        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Add New Entry", "Create", "TimeSheetEntry", new { TimeSheetId = @Model.Id }, null) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p>
